
/******************* sidebar-right ***************/

.product-heading {
    font-size: 2.8rem;
    font-weight: bold;
    width: 32.3rem;
    height: 7.3rem;
    font-family: "roboto", "sans-serif";
    line-height: 7.3rem;
    text-align: center;
  }
  
  .product-bar {
    width: 1190px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding-left: 20px;
  }
  
  .product-bar a{
    font-size: 1.6rem;
    font-weight: 600;
    color: #212529;
    text-align: center;
    width: auto;
    cursor: pointer;
  }
  
  .search-product {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    gap: 2rem;
    margin-right: 10px;
  }
  
  .box-form-product {
    width: 260px;
    height: 40px;
      display: flex;
      padding-left: 2rem;
      margin-bottom: 0;
      border: 1px solid var(--gray);
      
  }
  
  .search-product button, .search-product input {
    outline: none;
    border: none;
    background: transparent;
    
  }
  
  .search-product .search-product-input {
    width: 240px;
    height: 40px;
  }
  
  .search-product .search-product-btn {
    width: 100px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    background: #ddd;
    color: #212529;
    cursor: pointer;
    text-align: center;
    
  }
  
  .search-product .search-product-btn:hover {
    color: #fff;
    background: #f25c05;
  }
  .search-product .search-product-clear {
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  
  .product-bar .product-btn-add, .product-bar .product-btn-list  {
    width: 110px;
    height: 40px;
    background: #ddd;
    padding: 12px;
  }
  
  .product-bar .product-btn-add, .product-bar .product-btn-add {
    margin-right: 20px;
  }

  .product-bar .product-btn-add:hover {
    color: #fff;
    background: #f25c05;
  }
  .product-bar .product-btn-list:hover {
   
    color: #fff;
    background: #f25c05;
  }
  
  
  /***************** list-user.css **********************/
  .box-container-product {
    width: 1190px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-product {
    width: 1150px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
  }
  
  .container-product .head {
    height: 40px;
    background-color: #F6F6F6;
    border-radius: 10px 10px 0 0;
  }
  
  .container-product .head .inline {
    display: flex;
    height: 40px;
    padding: 0 20px;
    align-items: center;
    gap: 10px;
  }
  
  .container-product .head .inline .heading {
    font-size: 1.6rem;
    font-weight: 400;
  }
  
  .container-product .list-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .container-product .list-table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1110px;
  }
  
  .container-product .list-table .list-desc {
    color: #fff;
    height: 30px;
    text-align: center;
    line-height: 29px;
    background-color: #000;
    
  }
  
  .container-product .list-table .list-desc th {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
  }

  .container-product .list-table .list-desc .mnd {
    width: 100px;
  }
  
  .container-product .list-table .list-desc .ht {
    width: 150px;
  }
  .container-product .list-table .list-desc .sdt {
    width: 130px;
  }
  .container-product .list-table .list-desc .email {
    width: 200px;
  }
  .container-product .list-table .list-desc .dd {
    width: 220px;
  }
  .container-product .list-table .list-desc .vt {
    width: 100px;
  }
  .container-product .list-table .list-desc .kh {
    width: 100px;
  }
  .container-product .list-table .list-desc .tv {
    width: 110px;
  }
  
  .container-product .list-table .list-item {
    color: #000;
    height: 30px;
    text-align: center;
    /* border: 1px solid #000; */
    
  }
  .container-product .list-table .list-item td {
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    border: 1px solid #000;
    line-height: 21px;
  }

  
  .container-product .list-table .list-item .table-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 6px;
  }
  
  