/* ====introduce==== */

#about {
    margin: 3rem 0;
  }
  .about__heading {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
  }
  .about__media {
    display: flex;
    justify-content: center;
    gap: 0 1.5rem;
    padding: 1.5rem 0;
  }
  .about__img {
    width: 60rem;
    height: 30rem;
    object-fit: cover;
    display: block;
  }
  .about__img--modify {
    width: 90rem;
  }
  .about__title {
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
  }
  .about__desc {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about__desc + .about__desc {
    margin: 1rem 0;
  }
  .about__item--strong {
    color: #000;
    font-weight: 600;
  }
  .about__timer {
    list-style: initial;
    padding-left: 2.5rem;
  }
  .about__item {
    margin-bottom: 1rem;
  }
  
#privacy {
    margin: 3rem 0;
  }
  .privacy__heading {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .privacy__subheading {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .privacy__title {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .privacy__table {
    margin: 2rem 0;
  }
  .privacy__table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .privacy__table thead {
    background-color: #f2f2f2;
  }
  .privacy__table th,
  .privacy__table td {
    padding: 3rem;
    border: 1px solid #ddd;
    text-align: left;
    width: calc(100% / 3);
    vertical-align: top;
  }
  .privacy__table th {
    background-color: #4caf50;
    color: white;
    text-align: center;
  }
  .privacy__table ul.list {
    list-style: inside;
    padding: 0;
    margin: 0;
  }
  .privacy__table li.item {
    margin-bottom: 1rem;
  }
  .privacy__desc,
  .privacy__item {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .privacy__desc + .privacy__desc {
    margin: 1rem 0;
  }
  .privacy__title {
    margin-bottom: 1rem;
  }
  .privacy__list {
    list-style: inside;
  }
  .privacy__item {
    margin-bottom: 1rem;
  }

/*====warranty==== */

